.content {
  height: 100%;
  background-color: var(--background-enertec);
  font-family: var(--font-open-sans);
  // overflow: hidden;
  color: #000;
  .form {
    background: white;
    padding: 10px 15px;
    .content-item {
      padding-bottom: 10px;
    }
    .content-button {
      display: flex;
      justify-content: center;
      padding: 20px 5px;
      ion-button {
        --border-color: var(--blue-ligth);
        --border-width: 2px;
        --border-style: solid;
        --border-radius: 5px;
        --box-shadow: none;
        --background: none;
        --color: var(--blue-ligth);
        --padding-start: 5px;
        --padding-end: 5px;
        font-family: var(--font-open-sans);
        text-transform: none;
        height: 35px;
      }
    }
    .content-cancel {
      display: flex;
      justify-content: center;
      .cancel {
        --background: none;
        --box-shadow: none;
        --color: var(--orange-ligth);
        text-transform: none;
        font-family: var(--font-open-sans);
        height: fit-content;
      }
    }
  }
}