<app-modal-info></app-modal-info>
<ion-content>
  <div class="content">

    <app-image-header [showInfo]="false"></app-image-header>

    <div class="form">
      <ng-container *ngFor="let item of configDevice">
        <div class="content-item">
          <app-item-setting [item]="item" [form]="toControl(settingsForm.get(item.key))">
          </app-item-setting>
        </div>
      </ng-container>

      <div class="content-button">
        <ion-button (click)="setConfig()">Cargar configuración</ion-button>
      </div>

      <div class="content-cancel">
        <ion-button class="cancel" [routerLink]="['/dashboard']">
          <ion-icon class="icon" slot="start" name="chevron-back-outline"></ion-icon>
          Cancelar
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>